<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>NonAcademy - Password Reset</title>
    <style>
      *, *::before, *::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body{
        font-family: sans-serif;
      }

      .main{
        padding: 80px 0;
        width: 100%;
        background: #F2F2F2;
      }

      .container{
        background-color: white;
        max-width: 600px;
        margin: 0 auto;
        padding: 30px 40px;
      }

      .container img{
        width: 160px;
      }

      .container .title{
        font-weight: 500;
        font-size: 1.5rem;
        margin: 2rem 0;
        color: #001e00;
      }

      .container p{
        color: #222222;
        margin-bottom: 1.1rem;
        line-height: 25px;
        font-size: 1rem;
      }

      .button{
        color: white !important;
        background-color: #2db44e;
        text-decoration: none;
        border: none;
        border-radius: 100px;
        width: 55%;
        height: 45px;
        line-height: 45px;
        text-align: center;
        font-size: 1rem;
        margin: 3rem auto;
        display: block;
        cursor: pointer;
      }

      .warning {
        color: rgb(233, 44, 81);
      }


      @media only screen and (max-width: 640px) {
        .main{
          padding: 0;
        }

        .container .title{
          font-size: 1.1rem;
        }

        .container p{
          font-size: 0.9rem;
        }

        .button {
          width: 80%;
        }
      }
      
    </style>
  </head>
  <body>
  <div class="main">
    <div class="container">
      <img src="https://i.ibb.co/8DmzJjs/logo.png" alt="">
      <h1 class="title">Reset your NonAcademy password</h1>
      <p>Hi <%= Name %>,</p>
      <p>
        If you've lost your password or wish to reset it, use the
        Link below to get started. <span class="warning">This link will expire after 30 minutes.</span>
      </p>
      <a href="<%= url %>/reset/<%= studentId %>/<%= token %>" class="button">Reset Password</a>
      <p>Thanks for your time,<br/>
        The NonAcademy Team</p>
    </div>
  </div>
  </body>
</html>
